- subtitle ||= nil
- collections = index

- if WillPaginate::ViewHelpers.total_pages_for_collection( collections ) > 1
  .show_all
    = link_to "Show All", |
      url_for( :controller => request.path_parameters['controller'], |
                :action => request.path_parameters['action'], |
                :page => "all" ) |

/div.collections start
#all_collections.contents.collections
  .row
    / - if subtitle
    /   .pagination_info= subtitle
    / - else
    /   %div &nbsp;


    = render :partial => "collections/collection", :collection => collections

  .pager_pagination
    = will_paginate collections
/collections end

