.one-column
  .head
    %span.left
      Browse
      = Library.collections_title

  = render :partial => "collections/index", :object => @collections, |
           :locals => { :title => @title, |
                        :subtitle => @subtitle } |

/div.one-column end
- if current_user and current_user.has_role?( "admin" )
  :javascript
    jQuery(document).ready( function() {
      make_sortable( { list_selector : "#all_collections",
                       item_selector : ".collection",
                       post_url : "/collections/priority/order" }  );
    });
