/log/*.log
/tmp/**/*
.DS_Store
/doc/api
/doc/app
/config/initializers/site_keys.rb
/config/database.yml
/public/stylesheets/*.css
/coverage
/public/assets/*
/public/assets
/public/surrogates/*
/public/surrogates
.*.swp
/vendor/gems/RedCloth-4.1.9/ext/redcloth_scan/Makefile
/vendor/gems/RedCloth-4.1.9/ext/redcloth_scan/redcloth_scan.bundle
/vendor/gems/RedCloth-4.1.9/lib/redcloth_scan.bundle

