/log/*.log
/tmp/**/*
.DS_Store
/config/initializers/site_keys.rb
/config/database.yml
/public/stylesheets/*.css
/coverage
/public/assets
/public/surrogates
/vendor/gems/*/ext/*/Makefile
/vendor/gems/*/ext/*/*.bundle
/vendor/gems/*/lib/*.bundle
/vendor/gems/*/ext/*/*.so
/vendor/gems/*/lib/*.so
/vendor/gems/*/ext/redcloth_scan/*.o
/lib/ovsurgen
/ovdlt.tgz
/pkg
/tmp/vc.lock