!border_color = #b1d6ed

table
  :border 3px solid
    :color = !border_color
    :collapse collapse
  :margin-bottom 20px
  :width 100%

  td
    :border 1px dotted #9abacd
    :font-size 12px
    a
      :font-weight bold
      :border-bottom none !important
      &:hover, &:active
        :background-color transparent

  th
    :background transparent url(../images/backgrounds/table-th-default.jpg) 1 bottom repeat-x
    :border 3px solid
      :color = !border_color
    :color #9ec1d7
    :font
      :size 0.9em
      :weight bold
    :padding 5px 12px
    :text
      :align left
      :transform uppercase

  .format, .size
    :text-align right
    :padding-right 12px

