#content
  :font-size 1.1em
  :line-height 19px
  
  h1
    :border-bottom 4px double #ccc
    :color black
    :font-size 2em
    :margin 0 0 15px 0
    :padding 0 0 10px 0
    
  h3
    :margin 0 0 10 0
  
.category

  :padding-bottom 1em
  :font-size 1.5em

  div
    :border 2px solid
    :padding 0.5em
    :border-bottom none

  .title
    :font-weight bold
    :line-height 1em
    :background #00FFFF

  .footer
    :font-weight bold
    :font-size 0.8em
    :font-style italic
    :background #00FFFF
    
    a:link, a:visited
      :text-decoration none
      :border none
      :color black

    a:hover, a:active
      :text-decoration underline
      :background #0ff

  .last
    :border-bottom 2px solid
