#content
  a
    :border-bottom 0px none

  :clear both
  :font-size 1.1em
  :line-height 19px
  :padding-top 1em
  
  h1
    :color black
    :font-size 2em
    :margin 0 0 15px 0
    :padding 0 0 10px 0
    
  h3
    :margin 0 0 10 0
  
.category

  :padding-bottom 1em
  :font-size 1.5em

  .block
    :border 2px solid
    :padding-left 0.5em
    :padding-top .5em
    :padding-bottom 0.5em
    :padding-right .5em
    :border-bottom none

  .title
    :font-weight bold
    :line-height 1em
    :background #B0C4DE

  .footer
    :font-weight bold
    :font-size 0.8em
    :font-style italic
    :background #B0C4DE
    
    a:link, a:visited
      :text-decoration none
      :border none
      :color black

    a:hover, a:active
      :text-decoration underline
      :background #0ff

  .last
    :border-bottom 2px solid

  .axes
    :font-size 0.8em
    :float left
    :width 20%

    a
      :border-style none
      :text-decoration none

    .axis

      :margin-bottom 1em

      .count
        :font-size .8em

      .title
        :border-bottom 1px solid
        :background-color #fff
        :padding-bottom .2em
        :margin-bottom .2em

      li
        :margin-left 1em

      li.all
        :margin-left 2em
        :font-size 0.9em
        :font-style italic
        :list-style none

  .videos .axis
    :float left
    :width 100%

    a:link, a:hover, a:visited, a:active
      :border-style none
      :text-decoration none
    
    .link
      :float right
      :font-size .7em
      :font-style italic
      :width 80px
      :margin-top 30px

  .clear
    :clear both

.category .videos
  :float right          
  :width 78%

.category .videos .video

  :float left
  :width 20%
  :font-size .6em
  :line-height 1em
  :text-align center
  :margin-bottom 1em
  :margin-right 0em

  .title
    :background white

  .text
    :margin-top .3em
    :font-style italic        

  .image
    :height 100px
    :width 120px
    :border 0px none
    :margin-left auto
    :margin-right auto
    :background #eee

#content .list
  :float left
  :width 68%
  :margin-top 1em

  h1
    :background #ddd
    :padding .5em .5em .5em .5em

  .form
    :margin-bottom 1em

  .pagination
    :width 100%
    :text-align center
    :font-weight bold
    :padding-top .2em
    a
      :border 0 none

  .pagination_info
    :width 100%
    :text-align center
    :font-weight bold
    :padding-top .2em
    a
      :border 0 none

  .videos

    :border-left 2px solid black
    :border-right 2px solid black
    :border-top 2px solid black
    :border-bottom 1px solid black

    .video

      :border-bottom 1px solid black

      :padding 1em

      .image
        :float left
        :width 120px
        :height 90px
        :background #eee
        :margin-right 1em

      .title
        :display inline
        :font-size 1.2em
        :font-weight bold
      .year
        :display inline
        :font-size 1.2em
        :font-weight bold

#content .sidebar

  :float right
  :width 30%
  :margin-top 1em
  :font-size 1.6em

  a
    :border 0px none

  .entry

    .title
      :font-weight bold
      :padding-bottom .3em
      :border-bottom 2px solid #ccc

    ul
      :margin-bottom 2em

      li
        :margin-top .2em
        :margin-left 1em


#content .details
  :float left
  :width 68%
  :margin-top 1em

  .title
    :background #ddd
    :padding .5em .5em .5em .5em

  .body

    :border-left 2px solid black
    :border-right 2px solid black
    :border-top 2px solid black
    :border-bottom 1px solid black

    .image
      :float left
      :width 200px
      :height 150px
      :background #eee
      :margin 1em

    .sentence
      :margin 1em
      :font-size 1.4em

    .navigate

      :clear both

      :margin-left auto
      :margin-right auto
      :width 657px

      .view
        :border-right 1px solid #aaa
        :border-top 1px solid #aaa
        :border-bottom 1px solid #aaa
        :padding-left .5em
        :padding-right .5em
      
      .view.first
        :border-left 0px none
    
      .view.last
        :border-right 0px none
    
      .view.current
        :border-bottom 1px none

    .downloads

      :border-top 2px solid #888
      :border-bottom 2px solid #888
      :margin-top 1em
      :margin-bottom 1em
      :background #ddd
    
      .legend
        :float left
        :width 20%
        :font-weight bold
        :font-size 1.5em
        :margin 1em

      .list
        :margin-top 1em
        :margin-bottom 1em

        .download
          :float right
          :font-size 1.2em
          :width 100%

          .format
            :display inline

          .size
            :display inline
        
    .details

      :margin-left 1em
      :margin-top 0
      :width 90%

      .legend
        :font-weight bold
        :font-size 1.4em
        :border-bottom 1px dashed black
        :padding-bottom .2em

      .list

        :margin-left 1em
        :margin-top 0
        :margin-bottom 1em
        :width 100%

        .detail
          :font-size 1.2em
          :margin-top 1em

          .type
            :font-weight bold
            :float left
            :width 30%

          .value
            :float right
            :width 70%

.featured .videos
  :width 100%

.videos
  :padding-top .5em