#navigation
  :position absolute
  :font-size 1.3em
  :line-height normal
  :bottom 0
  :overflow hidden
  :width 100%
  
  ul
    :list-style none
    :margin 0
  
  li
    :display inline
    :margin 0
    :padding 0
  
  a
    :float left
    :background  transparent url(/images/backgrounds/navigation-a-default.jpg) no-repeat left top
    :border none
    :margin 0 5px 0 0
    :padding 0 0 0 4px
    :text-decoration none
  
    span
      :font-weight bold
      :display block
      :background transparent url(/images/backgrounds/navigation-b-default.jpg) no-repeat right top
      :float left
      :padding 12px 16px 12px 14px

.clear
  :clear both

.navigate

  :font-size 1.5em

  :margin-top 1em
  :margin-bottom -2px

  :width 100%

  .view
    :float left
    :text-align center
    :padding-top .2em
    :padding-bottom .2em
    :border-top 2px solid
    :border-right 2px solid
    :border-bottom 2px solid
    :background #eee
    :width 20%

  .view.current
    :border-bottom 2px solid white
    :border-left 2px solid
    :background #fff

  .view.empty
    :height 100%
    :width 20%
    :background #fff
    :border-top 2px solid white
    :border-right none
    :border-bottom 2px solid
