.one-column
  /head start
  .head
    %span.left
      Forgot Your Password?
  /head end
  .body
    - if flash[:notice] or flash[:error]
      %br
      .flash
        %div= flash[:notice]
        %div= flash[:error]
      %br
    %p

      Enter the e-mail address you used to register and we'll send you
      a link to reset your password.

    - form_tag forgot_password_path, :class => 'loginform', :method => :post do
      %label{:for=>:email}
        E-Mail Address
      = text_field_tag 'email', @email, :class => "input"
      %br
      %br
      = image_submit_tag "btn-reset-password.gif", :name => "Forgot Password", :class => "submit"
