.one-column
  /head start
  .head
    %span.left
      New Password
  /head end
  .body
    %p
      Enter the e-mail address you used to register and we'll send you a new password.
    - form_tag forgot_password_path, :class => 'loginform', :method => :post do
      %label{:for=>:email}
        E-Mail Address
      = text_field_tag 'email', @email
      %br
      %input.btn-login{ :name => "", :src => "images/btn-login.gif", :type => "image" }
