
.fieldWithErrors {
  padding: 1px;
  background-color: #d00;
  display: table;
}

#ErrorExplanation {
  width: 300px;
  border: 2px solid;
  border-color: #d00;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 15px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 0px 0px 0px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  font-size: 10px;
}

#ErrorExplanation ul li {
  font-size: 10px;
}
            