#content
  .col-left#browse
    .head
      %span.left
        BROWSE
    .content.block.last
      = render :partial => "shared/axes"
  /left col end, right col start
  .main.left#videos.videos
    = render :partial => "videos/images"
/right col end
