.assets.current
  .current.template
    = render :partial => "/assets/show"
    %script{:type=>"text/javascript"}
      assets =
      = @video.assets.to_json
      ;
  %table
    %thead
      %tr
        %th File name / URI
        %th Type
        %th Size
    %tbody.assets.ajax
      / This is here simply to make the table valid html when unfilled
      %tr.hidden
        %td
  %script{:type=>"text/javascript"}
    $("tbody.assets.ajax").data("assets",
    = assets_json
    );
.clear

