- f = @f
%div

  .form

    %fieldset
      %legend Descriptors

      = hidden_field_tag :descriptors_passed
      
      %dl
        = render :partial => "type", :collection => |
                                       DescriptorType.find( :all ), |
                                     :locals => { :f => f } |

    .clear
