- f = @f
%div
  .form
    %fieldset
      %legend Descriptors
      %dl
        = render :partial => "type", :collection => DescriptorType.sorted, |
                                     :locals => { :f => f } |
    .clear
