- property_type ||= nil
- srand Time.parse("0:0").to_i
- shown = {}
- if property_type
  - collection = [ property_type ]
- else
  - collection = PropertyType.browse.to_a
%ul.videos
  - index = 0
  - (0..3).each do |row|
    - type = collection[ row % collection.size ]
    - index = 0 if collection.size > 1
    - values = type.values()
    - (0..4).each do |col|
      - descriptor = values[ index % values.size ]
      - v = random( descriptor, shown )
      - if v
        %li.video
          .image
            %a{:href => video_path( v.id )}
              - if poster_path = v.poster_path
                %img{:src=>poster_path, :alt => "video #{v.id}"}
          .details
            %h5.title{:class=>video_vis_class(v)}
              = link_to h(v.title), video_path( v.id )
            %p
              = link_to "#{h descriptor.text}", "#"
      - index += 1
- srand
