.video
  .image
    %a{:href => video_path( image.id )}
      - if poster_path = image.poster_path
        %img{:src=>poster_path,:alt => "video #{image.id}"}
      - else
        = "video #{image.id}"
