- pc = PropertyClass.find_by_name property_class
- if ( ps = properties_by_class( pc ) ).size > 0
  %dt
    &= title
  %dd
    %ul
      - ps.each do |p|
        %label
          &== #{p.name}:
        &= p.value

