- pc = PropertyClass.find_by_name property_class
- if ( ps = properties_by_class( pc ) ).size > 0
  %fieldset
    %legend&= title
    %dl
      - ps.each do |p|
        %dt&== #{p.name}:
        %dd&= p.value

