- pc = PropertyClass.find_by_name property_class
- if ( ps = properties_by_class( pc ) ).size > 0
  %dt
    Dates
  %dd
    %ul
      - ps.each do |p|
        %li
          %label
            &== #{p.name}:
          &= p.value.to_date.to_s(:long)
