- form_for @video do |f|

  .form

    .assets.current
    - if @video.assets.size > 0
      Current Assets
    - else
      No Current Assets

    .assets.new
      Add Assets
      = render :partial => "/assets/new"

  = render :partial => "/shared/create", :object => @video, |
                                         :locals => { :f => f } |
