%h1 Videos

%table
  %thead
    %tr
      %th Filename
      %th Type
      %th Size
  %tbody
    - @videos.each do |video|
      %tr
        %td=h File.basename(video.path)
        %td=h File.extname(video.path)
        %td= file_size(video)
