%h1 Search / Browse Results
%h2
  Your search returned
  = @videos.size
  results

.navigate
  .view List View
  .view Title View
  .view Image View  
  .clear

.list
  .videos
    - @videos.each do |video|
      .video
        .title=h video.title
        - if !video.year.blank?
          .year= "(#{h video.year})"
        .sentence=h video.sentence
        .size=h video.size
    