.category.featured
  -# really not happy with the way I implemented this, but wanted to have something in this week
  -# There's a lot of refactoring that could happen here ...
  %ul.tabs
    %li.title.block.tab.active{ :onclick => "$('.tab_content, .tabs li').removeClass('active'); $('#recent.tab_content').addClass('active'); $(this).addClass('active'); return false;" }
      %a{ :href => "" } Recent
    %li.title.block.tab{ :onclick => "$('.tab_content, .tabs li').removeClass('active'); $('#popular.tab_content').addClass('active');  $(this).addClass('active'); return false;" }
      %a{ :href => "" } Popular
  .tab_contents
    #recent.tab_content.active
      =render :partial => "recent"
    #popular.tab_content
      =render :partial => "popular"
.clear
= render :partial => "browse"
- logger.info recent_videos_path.inspect
