.superblock
  .tabs
    %ul
      %li
        %a{ :href => "#recent" }
          Recent
      %li
        %a{ :href => "#popular" }
          Popular
      %li
        %a{ :href => "#random" }
          Random
  .panels
    .prev
    =render :partial => "recent"
    =render :partial => "popular"
    =render :partial => "random"
    .next
/super block end, left col start
= render :partial => "browse"
- logger.info recent_videos_path.inspect
