.title= axis.name.pluralize
%ul
  %li= link_to_unless @current == axis, |
                      "all", |
                      property_type_videos_path( axis ) |
  - axis.values.each do |descriptor|
    %li= link_to_unless @current == descriptor, |
                    descriptor.text, |
                    descriptor_value_search( descriptor ) |