.axes
  - DescriptorType.each do |type|
    .axis
      .title= type.title
      %ul
        - type.descriptors.each do |descriptor|
          %li
            = link_to descriptor.text, descriptor_videos_path( descriptor )
            %span.count= "[#{descriptor.videos.size}]"