%div
  .form
    %ul#descriptor_types_list
      - self.descriptor_types.each do |dt|
        = render :partial => "library/dt", :object => dt
      - if current_user and current_user.has_role?( "admin" )
        :javascript
          $(document).ready( function() {
            make_sortable( { list_selector : "#descriptor_types_list", item_selector : ".dtype" , post_url : "/library/property_type/order", handle:".dt_handle"}  );
          });
      %li
        .property-type.new
          = link_to "Add new descriptor type", "#"
          %ul.template
            = render :partial => "library/dt", :object => dt_template
