%div
  .form
    %ul
      - self.descriptor_types.each do |dt|
        = render :partial => "library/dt", :object => dt
      %li
        .property-type.new
          = link_to "Add new descriptor type", ""
          %ul.template
            = render :partial => "library/dt", :object => dt_template
