- pc = PropertyClass.find_by_name property_class
%div
  .form
    %ul
      - property_types_by_class(pc).each do |pt|
        = render :partial => "library/pt", :object => pt
      %li
        .property-type.new
          = link_to "new", ""
          %ul.template
            = render :partial => "library/pt", :object => pt_template(pc)
