%div
  .form
    %ul
      - rights_details.each do |rd|
        = render :partial => "library/rd", :object => rd
      %li
        .property-type.new
          = link_to "new", "#"
          %ul.template
            = render :partial => "library/rd", :object => rd_template
