- form_for @library, :url => descriptor_types_library_path do |f|

  .form
    %fieldset
      %legend Descriptor Types

      - DescriptorType.each do |type|
        = type.title

    .clear

  = f.submit "Save"
  = link_to "cancel", library_path
