development: &defaults
  adapter: mysql
  database: ovdlt-development
  encoding: utf8
  timeout: 5000
  username: db_user
  password: db_password

test:
  database: ovdlt-test
  <<: *defaults

production:
  database: ovdlt-production
  <<: *defaults
