.col-main.left
  .smaller-head
    Manage My Account
  .clear
  - form_tag  url_for( :action => :password ), :method => :put, :class => 'playlist create' do
    %p
      %label
        Current Password
      = password_field_tag :old_password
    %p
      %label
        New Password
      = password_field_tag :new_password
    %p
      %label
        Verify New Password
      = password_field_tag :confirm_password
    %p
      %input.submit{ :name => "Change Password", :src => "/images/btn-change-password.gif", :type => "image" }
      %a.btn-cancel{ :href => "#" }
        Cancel

