.searches.box
  .title Saved Searches
  - if current_user.searches.size > 0
    - current_user.searches.each do |search|
      .search
        %span.title Search:
        %a{:href=>search_path(search)}
          %span
            = h search.title
        .controls
          .delete
            - form_tag saved_query_path(search), :method => :delete do
              %label.button
                delete
                = submit_tag "delete", :class => :hidden
