.col-main.left
  .videos.saved-searches
  - if current_user.searches.size > 0
    .smaller-head
      My Saved Searches
      &== (#{current_user.searches.size})
    .list
      %ul
      -# TODO lines below should be indented, but
      -# need to adjust javascript(?) that is adding thumbs class
      -# the addition of which is triggering CSS rule to hide details div
      - current_user.searches.each do |search|
        %li
          .details
            %h5.title
              "
              %a{:href=>search_path(search)}><
                = h search.title
              "
            %p
              %span.remove
                %a{ :href => "#" }
                  Edit
                |
                %a{ :href => "#" }
                  Remove
/left col end